<div class="column aroma">
	<div class="callout">
		<h5 class="aroma-title">{{this.name}}</h5>
		<p class="aroma-description">{{this.description}}</p>
		<button type="button" class="button">Add aroma</button>
	<br>
	</div>
</div>
