<div class="column aroma">
	<div class="callout">
		{{this}}
		<h5 class="aroma-title">This is a Aroma {{name}}</h5>
		<p class="aroma-description">Small description</p>
		<button class="button">Add aroma</button>
	</div>
</div>
