{{yield}}
<div class="top-bar">
    <div class="top-bar-left">
        {{#zf-dropdown-menu class="horizontal" }}
            <li>
                {{#link-to "index"}}Home{{/link-to}}
            </li>
            <li>
                {{#link-to "recipes"}}Recipes{{/link-to}}
                <ul class="menu">
                    <li>
                        {{#link-to "recipes.new"}}New{{/link-to}}
                    </li>
                    <li>
                        {{#link-to "recipes"}}List{{/link-to}}
                    </li>
                </ul>
            </li>
            <li>
                {{#link-to "aromas"}}Aromas{{/link-to}}
                <ul class="menu">
                    <li>
                        {{#link-to "aromas.new"}}New{{/link-to}}
                    </li>
                    <li>
                        {{#link-to "aromas"}}List{{/link-to}}
                    </li>
                </ul>
            </li>
        {{/zf-dropdown-menu}}
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
        </ul>
    </div>
</div>