<header>
	<nav>
		<ul class="navigation-links">
			{{#link-to "index"}}Home{{/link-to}}
			{{#link-to "recipes"}}Juice Recipes{{/link-to}}
			{{#link-to "aromas"}}Aroma's{{/link-to}}
		</ul>
	</nav>
</header>
