<header>
	<nav>
		<ul class="navigation-links">
			{{#link-to "index"}}Home{{/link-to}}
			{{#link-to "juicebook"}}Juice Book{{/link-to}}
			{{#link-to "juice-calculator"}}The calculator{{/link-to}}
		</ul>
	</nav>
</header>
