h1 {

}

.top-bar {
	ul {
		li{
			font-family: 'Open Sans', sans-serif;
			font-weight: 600;
		}
	}

}



h1, h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

p {
	font-family: 'Gloria Hallelujah', cursive;
}
