{{header-navigation}}
<div class="row">
	<div class="small-12 columns">
		<p>
			{{link-to "Aroma list" "aromas.index" }}
		</p>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<h1>New Aroma</h1> {{partial "aromas/form"}}
	</div>
</div>
