<form {{action "save" on="submit"}}>
  <div class="row">
    <div class="medium-12 columns">
      <label>
      		Name
     		{{input type="text" value=model.name}}
    		</label>
    </div>
  </div>
  {{add-ingredient action='add'}}
  <div class="row">
    <div class="medium-12 columns">
      <button type="submit" class="success button" value="Save">Save</button>
      {{#link-to "recipes.index" class="alert button"}}Cancel{{/link-to}}
    </div>
  </div>
</form>