{{outlet}}
<div class="wrap">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Juice recipes</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				{{#link-to "recipes.new"}}New{{/link-to}}
			</div>
		</div>
		{{#each model as |recipe|}}
			{{recipes-list name=recipe.name}}
		{{/each}}
	</div>
</div>
