<div class="add-recipe">
	<h2>New Recipe</h2>
	<ul class="post-publish">
		<li>
			{{input value=name placeholder="Name"}}
		</li>
		<li>
			{{input value=ingredient placeholder="ingredient"}}
		</li>
	</ul>
</div>
dsadsa
