{{header-navigation}}
<div class="row">
	<div class="small-12 columns">
		<h1>New Recipe</h1>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		{{partial "recipes/form"}}
	</div>
</div>
