<p>
  {{link-to "Recipe list" "recipes.index" }}
</p>

<h1>Recipe show</h1>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Ingredient:</strong>
  <span>{{model.ingredient}}</span>
</p>

