{{outlet}}
<h1>The Juice Calculator</h1>
{{#ui-accordion as |execute|}}
  <div class="title">
    Semantic UI
  </div>
  <div class="content">
    Be sure to check out <div class="ui button">the example</div>
  </div>
  <div class="title">
    Example
  </div>
  <div class="content">
    This is a great example!
  </div>
{{/ui-accordion}}
